ul{
		margin-left: 3%;
	font-family: "Droid Sans";
}
label{
	color: #ffffff;
	background-size: 100%;
	font-family: "Droid Sans";
	font-size: 20px;
}
div{
	margin-top: 3%;
	margin-left: -1.7%;
	margin-right: -.5%;
	background-color: #999002;
	background-size: 70%;
}
#carreras{
	margin-top: 3%;
	margin-left: 20%;
	margin-right: 20%;
	background-size: 100%;
	font-family: "Droid Sans";
	font-size: 20px;
}
